extends ../../layout/default.pug 
include ../../mixins/boxhead.pug
block main
  h2 Chi tiết sản phẩm
  div.product-info
    if product.name
      p Tên sản phẩm: #{product.name}
    if product.description
      p Mô tả: #{product.description}
    if product.price
      p Giá: #{product.price}$
    if product.discountPercentage
      p Giảm giá: #{product.discountPercentage}%
    if product.price && product.discountPercentage
      p Giá sau giảm: #{(product.price - (product.price * product.discountPercentage / 100)).toFixed(2)}$
    if product.image
      img(src=product.image alt=product.name)
