extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/alert.pug

block main 

  +alert-success(5000)
  +alert-error(3000)

  h1 Danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter-status(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3
    .card-header <strong>Danh sách sản phẩm</strong>
      .card-body
        .row 
          .col-8 
            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
          .col-4 
            a(
              href=`${prefixAdmin}/products/create`
              class="btn btn-outline-success"
            ) + Thêm mới

        .table-responsive
          table(
            class="table table-striped table-hover align-middle"
            checkbox-multi
          )
            thead.table-dark
              tr
                th 
                  input(type="checkbox" name="check-all" class="checkbox")
                th #
                th Tên sản phẩm
                th Hình ảnh
                th Giá
                th Vị trí
                th Trạng thái
                th Hành động
            tbody
              each item, index in products
                tr
                  td 
                    input(type="checkbox" name="id" value=item.id class="checkbox")
                  td #{index + 1}
                  td(style="font-zise: 24px; font-weight: 600;") #{item.name}
                  td 
                    img.img-thumbnail(style="width: 80px; height: 80px;" src=item.image alt=item.name)
                  td #{item.price}$
                  td 
                    input(
                      type="number"
                      value=item.position 
                      style ="width: 60px"
                      min="1"
                      name="position"
                    )
                  td 
                    if(item.status == "active")
                      a(
                        href="javascript:;"
                        data-status= item.status
                        data-id= item.id
                        button-change-status
                        class="badge bg-success"
                      ) Đang hoạt động
                    else
                      a(
                        href="javascript:;"
                        data-status= item.status
                        data-id= item.id
                        button-change-status
                        class="badge bg-danger"
                      ) Tạm thời dừng
                  td
                    a.btn.btn-sm.btn-secondary(href=`${prefixAdmin}/products/detail/${item.id}`) Chi tiết
                    a.btn.btn-sm.btn-warning(href=`${prefixAdmin}/products/edit/${item.id}`) Sửa
                    button(
                      class="btn btn-sm ml-1 btn-danger"
                      button-delete
                      data-id=item.id
                    ) Xóa

  +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
    )

  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products/delete`
    ) 

